<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <title th:text="${buildInfoSettings.name}">Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/plt.css"/>
</head>

<body role="document">

<!--@thymesVar id="projects" type="plt.BuildInfoSettings"-->
<div th:fragment="title" class="jumbotron">
    <div class="container">
        <h3 th:text="${buildInfoSettings.description}">Description</h3>
    </div>
</div>

<div th:fragment="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" th:text="${buildInfoSettings.name}">Title</span>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.requestURI == '/'} ? 'active'"><a href="/">Home</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Campaigns <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/campaigns?sort=name,ASC&amp;size=2">List Campaigns</a></li>
                        <li><a href="/campaigns/create">Create Campaign</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Players <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/players/">List Players</a></li>
                        <li><a href="/players/create">Create Player</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--@thymesVar id="page" type="org.springframework.data.domain.Page<>"-->
<!--@thymesVar id="uri" type="java.lang.String"-->
<div th:fragment="pager (page, uri, sort)" class="row">
    <div class="col-md-12 text-center">
        Showing <span th:text="${page.totalElements}"></span> elements
    </div>
    <div class="col-md-12 text-center" th:if="${page.hasContent() and page.totalPages gt 1}">
        <ul class="pagination">
            <!-- first page -->
            <th:block th:with="disabled=${page.first}">
                <li th:class="${disabled} ? 'disabled'">
                    <a th:href="@{${disabled} ? 'javascript:void(0);' : ${uri}(page=0,size=${page.size},sort=${sort})}">
                        &lt;&lt;
                    </a>
                </li>
            </th:block>

            <!-- previous page -->
            <th:block th:with="disabled=${not page.hasPrevious()}">
                <li th:class="${disabled} ? 'disabled'">
                    <a th:href="@{${disabled} ? 'javascript:void(0);' : ${uri}(page=${page.number - 1},size=${page.size},sort=${sort})}">
                        &lt;
                    </a>
                </li>
            </th:block>

            <!-- individual pages -->
            <th:block th:each="currentPage : ${#numbers.sequence(0, page.totalPages - 1)}"
                      th:with="current=${page.number eq currentPage}">
                <li th:class="${current} ? 'active'">
                    <a th:text="${currentPage + 1}"
                       th:href="@{${current} ? 'javascript:void(0);' : ${uri}(page=${currentPage},size=${page.size},sort=${sort})}">
                        3
                    </a>
                </li>
            </th:block>

            <!-- next page -->
            <th:block th:with="disabled=${not page.hasNext()}">
                <li th:class="${disabled} ? 'disabled'">
                    <a th:href="@{${disabled} ? 'javascript:void(0);' : ${uri}(page=${page.number + 1},size=${page.size},sort=${sort})}">
                        &gt;
                    </a>
                </li>
            </th:block>

            <!-- last page -->
            <th:block th:with="disabled=${page.last}">
                <li th:class="${disabled} ? 'disabled'">
                    <a th:href="@{${disabled} ? 'javascript:void(0);' : ${uri}(page=${page.totalPages - 1},size=${page.size},sort=${sort})}">
                        &gt;&gt;
                    </a>
                </li>
            </th:block>
        </ul>
    </div>
</div>


<th:block th:fragment="footer">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</th:block>

</body>
</html>
